.rectangle {
    position: relative;
    top: -100px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-lato), Arial, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: calc(10vh);
    background-color: #fff;
  }

  .profileHeader {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-inter), Arial, sans-serif;
    margin: 16px 0;
  }
  
  
  .heading {
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 15px; */
  }
  
  .applicationLabel {
    color: #808080 50%;
    font-size: 0.9em;
  }
  
  .profileSection {
    display: flex;
    align-items: center;
    /* margin: 32px; */
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0056b3;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .profileInfo p {
    margin: 0;
  }
  
  .userDetails p {
    margin: 5px 0;
  }
  
  .passwordUpdate {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 62px 0;
  }
  
  .passwordUpdate input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .updateBtn {
    background: #0056b3;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .actions {
    display: flex;
    justify-content: left;
    gap: 10px;
  }
  
  .actionButton {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
      }


    .edit {
        background-color: #e0e0e0;
        color: #000;
      }
      
    .back {
        background-color: #0056b3;
        color: #fff;
      }
      
  